name: CI Pipeline - DevOps Assignment

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build backend image
        run: docker build -t devops-backend -f backend/Dockerfile .

      - name: Build worker image
        run: docker build -t devops-worker -f backend/Dockerfile.worker .
